= javascript_pack_tag 'application'
= javascript_include_tag "https://balkan.app/js/OrgChart.js"

:css
  html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-family: Helvetica;
  }

  .orgchart {
    width: 100vw;
    height: 100vh;
  }


%h1
  Consolidated teams

- @teams.each do |team|
  %div{id: team.node_safe_team_name, class: "orgchart"}
    orgchat node goes here

:javascript
  var orgchart_configs = JSON.parse('#{escape_javascript @orgchart_config.to_json.html_safe}')

  orgchart_configs.forEach(function(orgchart_config) {
    var chart = new OrgChart(document.getElementById(orgchart_config.html_node), orgchart_config);
  })
